In [6]:
import pandas as pd
data = pd.read_csv("Real_Estate_2020_2022_total_data.csv", encoding='CP949')

/var/folders/3_/x71n0dfx597b2bmnkl6m82hm0000gn/T/ipykernel_31631/1337237763.py:2: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Real_Estate_2020_2022_total_data.csv", encoding='CP949')

In [7]:
data.head()

,Unnamed: 0,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),...,NASDAQ_close,NASDAQ_change_rate,DOW Jones_close,DOW Jones_change_rate,KRX300_close,KRX300_change_rate,KOSPI_close,KOSPI_change_rate,KOSDAQ_close,KOSDAQ_change_rate
0,0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,"149,500",...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
1,1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,"144,000",...,9418.850021,0.020089,28519.731600,-0.012474,1220.65,-5.51,1987.01,-6.23,610.73,-4.94
2,2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,"162,750",...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
3,3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,"160,000",...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
4,4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,"150,000",...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40

In [9]:
data = pd.read_csv("stepwise1.csv", encoding='CP949')
data

    Unnamed: 0                                                  x
0            1                                                NaN
1            2                                              Call:
2            3                lm(formula = 평당가 ~ ., data = pdata)
3            4                                                NaN
4            5                                         Residuals:
5            6               Min      1Q  Median      3Q     Max
6            7           -3.2840 -0.1134 -0.0257  0.0993  1.9997
7            8                                                NaN
8            9                                      Coefficients:
9           10                    Estimate Std. Error  t value...
10          11  (Intercept)       0.106638   0.006632   16.078...
11          12  전용면적...      -0.613644   0.003838 -159.906  < ...
12          13  거래금액.만원.    0.966806   0.004958  195.011  < 2e...
13          14  층                0.010907   0.003123    3.493 ...
14          15  건축년도          0.072434   0.003585   20.203  < ...
15          16  매칭.구_강남구    0.212090   0.012118   17.502  < 2e...
16          17  매칭.구_강동구   -0.114457   0.015537   -7.367 1.93e...
17          18  매칭.구_강북구   -0.310477   0.012294  -25.255  < 2e...
18          19  매칭.구_광진구   -0.181939   0.017075  -10.655  < 2e...
19          20  매칭.구_구로구   -0.225912   0.018500  -12.211  < 2e...
20          21  매칭.구_노원구   -0.203983   0.024337   -8.381  < 2e...
21          22  매칭.구_동대문구 -0.216135   0.012012  -17.993  < 2e-...
22          23  매칭.구_동작구   -0.083808   0.014558   -5.757 8.89e...
23          24  매칭.구_서대문구 -0.229964   0.013372  -17.198  < 2e-...
24          25  매칭.구_성북구   -0.256932   0.012511  -20.536  < 2e...
25          26  매칭.구_송파구    0.146900   0.017785    8.260  < 2e...
26          27  매칭.구_양천구   -0.142826   0.042514   -3.360 0.000...
27          28  매칭.구_영등포구 -0.044876   0.015071   -2.978 0.0029...
28          29  매칭.구_용산구   -0.384224   0.043250   -8.884  < 2e...
29          30  매칭.구_중구     -0.186081   0.032854   -5.664 1.53...
30          31                                                ---
31          32  Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0....
32          33                                                NaN
33          34  Residual standard error: 0.2611 on 7735 degree...
34          35  Multiple R-squared:  0.932,\tAdjusted R-square...
35          36  F-statistic:  5577 on 19 and 7735 DF,  p-value...
36          37                                                NaN

In [10]:
data = pd.read_csv("stepwise2.csv", encoding='CP949')
data

    Unnamed: 0                                                  x
0            1                                                NaN
1            2                                              Call:
2            3                lm(formula = 평당가 ~ ., data = pdata)
3            4                                                NaN
4            5                                         Residuals:
5            6               Min      1Q  Median      3Q     Max
6            7           -3.2840 -0.1134 -0.0257  0.0993  1.9997
7            8                                                NaN
8            9                                      Coefficients:
9           10                    Estimate Std. Error  t value...
10          11  (Intercept)       0.106638   0.006632   16.078...
11          12  전용면적...      -0.613644   0.003838 -159.906  < ...
12          13  거래금액.만원.    0.966806   0.004958  195.011  < 2e...
13          14  층                0.010907   0.003123    3.493 ...
14          15  건축년도          0.072434   0.003585   20.203  < ...
15          16  매칭.구_강남구    0.212090   0.012118   17.502  < 2e...
16          17  매칭.구_강동구   -0.114457   0.015537   -7.367 1.93e...
17          18  매칭.구_강북구   -0.310477   0.012294  -25.255  < 2e...
18          19  매칭.구_광진구   -0.181939   0.017075  -10.655  < 2e...
19          20  매칭.구_구로구   -0.225912   0.018500  -12.211  < 2e...
20          21  매칭.구_노원구   -0.203983   0.024337   -8.381  < 2e...
21          22  매칭.구_동대문구 -0.216135   0.012012  -17.993  < 2e-...
22          23  매칭.구_동작구   -0.083808   0.014558   -5.757 8.89e...
23          24  매칭.구_서대문구 -0.229964   0.013372  -17.198  < 2e-...
24          25  매칭.구_성북구   -0.256932   0.012511  -20.536  < 2e...
25          26  매칭.구_송파구    0.146900   0.017785    8.260  < 2e...
26          27  매칭.구_양천구   -0.142826   0.042514   -3.360 0.000...
27          28  매칭.구_영등포구 -0.044876   0.015071   -2.978 0.0029...
28          29  매칭.구_용산구   -0.384224   0.043250   -8.884  < 2e...
29          30  매칭.구_중구     -0.186081   0.032854   -5.664 1.53...
30          31                                                ---
31          32  Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0....
32          33                                                NaN
33          34  Residual standard error: 0.2611 on 7735 degree...
34          35  Multiple R-squared:  0.932,\tAdjusted R-square...
35          36  F-statistic:  5577 on 19 and 7735 DF,  p-value...
36          37                                                NaN

In [12]:
data = pd.read_csv("RamianData.csv", encoding='CP949')
data

,전용면적...,계약일,거래금액.만원.,층,건축년도,건설수주_건축.단위.백만원.,건설수주_주택.단위.백만원.,매매가격지수.아파트.,경상수지.백만불.,무역수지.백만불.,...,매칭.구_성동구,매칭.구_성북구,매칭.구_송파구,매칭.구_양천구,매칭.구_영등포구,매칭.구_용산구,매칭.구_은평구,매칭.구_중구,계약년월_2021,계약년월_2022
0,-0.313958,0.149753,1.588584,-0.573938,1.680878,-0.686534,-0.668300,-0.080754,-0.336679,0.159649,...,0,0,0,0,0,0,0,0,1,0
1,-0.911695,0.735752,0.920972,0.998763,1.680878,-0.379233,-1.015340,0.541541,1.283617,-0.113647,...,0,0,0,0,0,0,0,0,1,0
2,-1.317216,0.735752,0.655363,-0.573938,1.680878,-0.379233,-1.015340,0.541541,1.283617,-0.113647,...,0,0,0,0,0,0,0,0,1,0
3,-0.911695,0.735752,0.920972,0.998763,1.680878,-0.379233,-1.015340,0.541541,1.283617,-0.113647,...,0,0,0,0,0,0,0,0,1,0
4,-1.317216,0.735752,0.655363,-0.573938,1.680878,-0.379233,-1.015340,0.541541,1.283617,-0.113647,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7750,-0.918995,1.438952,-0.435787,-0.859883,0.315363,0.121737,0.221947,-0.267442,0.790369,0.997733,...,0,0,0,0,0,0,0,1,0,0
7751,-0.918995,-1.725445,-0.464502,-0.859883,0.315363,2.534501,2.810848,-0.205213,1.504527,1.327100,...,0,0,0,0,0,0,0,1,0,0
7752,-0.918995,-1.256646,-0.407073,0.283899,0.315363,2.534501,2.810848,-0.205213,1.504527,1.327100,...,0,0,0,0,0,0,0,1,0,0
7753,0.104540,-0.670646,-0.091213,-1.288802,0.315363,2.534501,2.810848,-0.205213,1.504527,1.327100,...,0,0,0,0,0,0,0,1,0,0
7754,0.104135,0.032553,-0.112749,-0.145019,0.315363,2.534501,2.810848,-0.205213,1.504527,1.327100,...,0,0,0,0,0,0,0,1,0,0